<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create</title>
</head>
<body>
  
  <form action="/create" method="post">
    <label for="name">Name</label>
    <input type="text" name="name" id="name">
    <label for="roll_no">Roll Number</label>
    <input type="text" name="roll_no" id="roll_no">
    <label for="email">Email</label>
    <input type="text" name="email" id="email">
    <input type="submit" value="submit" name="submit">

</body>
</html>