<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Update</title>
</head>
<body>
  
  <h1>UPDATE</h1>
  <form action="/update/{{ student['id'] }}" method="post">
    <input type="text" name="name" value="{{ student['name'] }}">
    <input type="text" name="roll_no" value="{{ student['roll_no'] }}">
    <input type="text" name="email" value="{{ student['email'] }}">
    <input type="submit" value="UPDATE">
  </form>

</body>
</html>